<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% url 'favicon' %}">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(93042836, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/93042836" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    

    {% include 'includes/meta.html' %}
    <link type="text/css" href="{% static 'style.css' %}" rel="stylesheet" type="text/css"> 

    <script src="{% static 'vendor/htmx/dist/htmx.min.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    {% block extra_head %}
    <!-- Add any additional CSS or JavaScript files here -->
    {% endblock %}
    
  </head>

  <body>
    {% block header %}
    <!-- Add page header here -->
    {% endblock %}
    {% block content %}
    <!-- Add page content here -->
    {% endblock %}

    {% block footer %}
    {% endblock %}


    {% include 'includes/scripts.html' %}
    {% block extra_body %}
    <!-- Add any additional JavaScript files here -->
    {% endblock %}
  </body>
</html>